{% extends "@pulsar/pulsar/components/tab.html.twig" %}

{%- block actions_left -%}

{%- endblock -%}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Save',
            'class': 'btn--primary',
            'data-toggle': 'modal',
            'type': 'link',
            'href': '#'
        })
    }}
{%- endblock -%}

{% block tab_content %}
    
    <div class="js-recurrence-calendar">
        cal
    </div>

{% endblock %}

{% block tab_js %}
    <script type="text/javascript">

    </script>
{% endblock %}
