<div class="online-now-container tab-help-container t-tab-help-container">
    <div class="online-now">
        <a href="#" class="close-page-help js-close-page-help"><i class="icon-remove-sign"></i></a>
        <h2 class="heading">Online now</h2>

        your stuff goes here
    </div>
</div>
