.contact-card {
    display: inline-block;
    height: 285px;
    width: 248px;

    .avatar {
        height: 70%;
        margin: 0;
        position: relative;
        right: 0;
        top: 0;
        width: inherit;
        z-index: 1;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .avatar__caption {
        background-color: rgba(0, 0, 0, .6);
        color: color(white);
        margin: 0;
        padding: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;

        .status {
            &.is-online {
                border: 1px solid color(white);
                border-radius: 50%;
                height: 12px;
                margin-left: 4px;
                width: 12px;
            }
        }

        .long-text {
            &.job-title {
                font-size: $font-size-small;
            }

            &.user-name {
                font-size: $font-size-base;
            }
        }

        .user-name {
            font-size: $font-size-xlarge;
        }

        .job-title {
            color: color(gray, lighter);
            font-size: $font-size-base;
        }
    }

    .contact-details {
        color: color(primary);
        box-sizing: border-box;
        font-size: smaller;
        height: 30%;
        padding: 5px 10px 0;

        div {
            padding: 2px 0;
        }

        i {
            margin: 0 10px 0 0;
        }

        .other-icons {
            border-bottom: 1px solid color(jadu-blue, light);
            padding: 2px 0 5px;

            i {
                font-size: $font-size-base;
                margin: 0 20px 0 0;
            }
        }

    }

    &.inverse {
        background-color: color(inverse);
        color: color(white);

        a {
            color: color(white);
        }

        i {
            color: color(white);
        }

        .other-icons {
            border-bottom: 0;
        }
    }
}
