// .label.calculation-label {
//     .label.calculation-label,
// }

.label.calculation-label,
.calc-sorting {
    display: inline-block;
    font-family: 'Courier New', 'Andale Mono', 'Consolas', monospace;
    font-size: 14px;
    line-height: 36px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 0 15px;
    transition: width 2s;
    vertical-align: middle;

    &:hover {
        @include cursor(grab);
        background-color: darken(#dedede, 2) !important;
    }
}

.calculation-label.is-editing {
    padding-right: 0;
}

.calculation-designer {
    border: 1px solid #ccc;
}

.calculation-toolbar {
    background-color: rgba(0, 0, 0, .05);
    padding: 10px;
}

.calculation-editor {
    padding: 10px;
    position: relative;
}

.calc-sorting {
    background-color: color(sorting);
    border: 1px dashed #ccc;
    border-radius: 4px;
    height: 36px;
}

.label.calculation-label--operator {
    font-size: 20px;
}

.calculation-label--operator i {
    color: #999 !important;
}

.label.calculation-label--var {
    background-color: #8cd2ca !important;

    &:hover {
        background-color: darken(#8cd2ca, 2) !important;
    }
}

.label.calculation-label--paren {
    background-color: lighten(#a4d2df, 10) !important;

    &:hover {
        background-color: #a4d2df !important;
    }
}

.label.calculation-label--num {
    background-color: #efb4c3 !important;

    &.is-editing {
        padding-left: 0;
        padding-right: 10px;
    }

    &:hover {
        background-color: darken(#efb4c3, 2) !important;
    }
}

.calculation-label--var i,
.calculation-label--num i {
    color: #777 !important;
}

.calc-input {
    background-color: white;
    border: 0;
    border-radius: 20px;
    font-family: 'Courier New', 'Andale Mono', 'Consolas', monospace;
    line-height: 1.5rem;
    margin: 0 10px;
    padding: 0 10px;
    width: 100px;
}

.calc-input-save,
.calc-input-remove {
    background-color: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 14px;
    vertical-align: baseline;

    &:hover i {
        position: relative;
        top: 1px;
    }
}

.calculation-label {

    .calc-input-save,
    .calc-input-remove {
        display: none;
    }

    &.is-editing {
        .calc-input-save,
        .calc-input-remove {
            display: inline-block;
        }
    }
}
